/* Styles defined for the desktop or the bigger screen devices*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* Header Navbar Styles */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	background-color: #28617f;
}

.logo {
	padding: 0 5rem;
}

.logo .logo-heading {
	color: #fff;
}

.menu {
	/* padding: 0 5rem;  */
}

.hamburger {
	display: none;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.cross-icon {
	display: none;
}

.menu .menu-list {
	display: flex;
	list-style: none;
}

.menu-list .menu-list-items {
	padding: 0.5rem 1rem;
}

@media screen and (min-width: 856px) and (max-width: 1024px) {
	.menu-list .menu-list-items {
		padding: 0.5rem 0.3rem;
	}
}

/* Main Hero Section Styles */
.hero {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: start;
	margin: 4.8rem 0;
}

.hero .imgContent img {
	border-radius: 50%;
}

.hero .intro {
	text-align: center;
	margin: 0 5rem;
	width: 600px;
}

/* Right Div */
.hero .imgContent {
	width: 500px;
	height: 500px;
	margin-right: 120px;
	margin-left: 50px;
}

.hero .intro-buttons {
	margin: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/* About section styles */
.about {
	display: flex;
	align-items: center;
	background-image: linear-gradient(45deg, #363D73, #2794B3);
	justify-content: space-between;
	width: 100%;
	margin-top: 50px;
}

.about .about-text {
	width: 450px;
	color: #fff;
	padding: 5rem 1rem 5rem 5rem;
}

.about .about-image {
	padding-right: 100px;	
}

.about .about-image img {
	height: 450px;
	width: 450px;
	border-radius: 50%;
	object-fit: cover;

}

/* Portfolio section styles */
.portfolio {
	margin: 4.8rem 0;
	padding: 0 5rem;
}

.port-card {
	padding: 0 !important;
	background: none !important;
	border: 2px solid #000;
}

.port-card .image {
	width: 100%;
}

.port-card .image img {
	height: 200px;
	width: 100%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

/* Gallery styles */
.gallery-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 100px;
	padding-top: 50px;
	margin-bottom: 50px;
}

.gallery-container .gallery-item {
	width: 300px;
	margin: 10px;
	margin-right: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.gallery-container .gallery-item img {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
}

/* Slider */
.slider {
	width: 850px;
	height: 650px;
	margin: 100px auto;
	background: white;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.slider .content {
	position: relative;
	width: 400px;
	height: 400px;
	overflow: hidden;
	border-radius: 50px;
	object-fit: cover;
}

.slider .content img {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* max-width: 800px; */
	width: 400px;
	height: 400px;
	object-fit: cover;
	opacity: 0;
}

.slider .content img.active {
	opacity: 1;
}

.slider .btns {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 40px;
}

.slider .btns .btn {
	padding: 15px 35px;
	font-size: 22px;
	background: #28617f;
	color: white;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 15px;
}


.slider .btns .dots {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.slider .btns .dots .dot {
	width: 15px;
	height: 15px;
	border: 2px solid black;
	border-radius: 50%;
	cursor: pointer;
}

.slider .btns .dots .dot.active {
	background: #28617f;
}

/* Services section styles */
.services {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 4.8rem 0;
	padding: 0 5rem;
}

.services .skils .top {
	text-align: center;

}

.services .skils .top h1 {
	font-size: 30px;
	color: #28617f;
	text-transform: uppercase;
	font-weight: 700;
}

.services .skils .top p {
	color: gray;
}

.services .skils .box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.services .skils .box h4 {
	color: #28617f;
}

.my-row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
	margin: 2rem 0;
}

.my-row .my-col {
	text-align: center;
	width: 30%;
	margin-bottom: 20px;
}

.my-card {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	background: #28617f;
	box-shadow: 6px 10px 26px 0px rgba(0, 0, 0, 0.72);
	-webkit-box-shadow: 6px 10px 26px 0px rgba(0, 0, 0, 0.72);
	-moz-box-shadow: 6px 10px 26px 0px rgba(0, 0, 0, 0.72);
	text-shadow: 2px 7px 7px rgba(0, 0, 0, 0.6);
	padding: 1rem;
	height: 550px;
}

.icon {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #363D73;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon svg {
	font-size: 30px;
	color: #fff;
}

/* Contact section styles */
.fo {
	padding: 0 5rem;
}

.formSection {
	width: 100%;
	height: 700px;
	/* margin: 0px 0px; */
	background: url('./images/Black\ Wallpapers\ -\ Wallpaper\ Cave.jpg') no-repeat center;
	background-size: cover;
	padding-top: 100px;
}

.formSection .form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 500px;
	text-align: center;
	margin: 0 auto;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 2px solid gray;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	border-radius: 20px;
}



.formSection .form .form1 {
	/* width: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	/* padding: 40px; */
}

.formSection .form .form1 h1 {
	color: #fff;
}

.formSection .form .form1 input {
	width: 100%;
	max-width: 350px;
	background: 0;
	outline: 0;
	border: 2px solid white;
	padding: 15px 20px;
	border-radius: 15px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.formSection .form .form1 input::placeholder {
	color: #fff;
}

.formSection .form .form1 textarea {
	width: 100%;
	max-width: 350px;
	height: 150px;
	background: gray;
	color: #fff;
	border-radius: 15px;
	border: 2px solid white;
	resize: none;
	padding: 15px 20px;
	outline: 0;
}

.formSection .form .form1 textarea::placeholder {
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.formSection .form .form1 .button {
	background-color: gray;
	color: #fff;
	outline: 0;
	font-family: 'Poppins', sans-serif;
	padding: 13px 25px;
	border: 3px solid gray;
	border-radius: 15px;
	transition: 1s;
	cursor: pointer;
}

.formSection .form .form1 .button:hover {
	color: gray;
	background: #fff;
	border-color: gray;
}

/* Footer Styles */
.footer {
	background-color: #000;
	color: #fff;
	padding: 2rem;
}

.footer-list-items {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	margin: 1rem 1rem 0 1rem;
	border-radius: 50%;
	background-color: #28617f;
}

.footer-links {
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-menu {
	padding: 0 5rem;
}

.footer-menu .footer-menu-list {
	display: flex;
	list-style: none;
}






/* utility classes */
.greet-heading {
	font-size: 1.3rem;
	font-weight: lighter;
	margin: 0;
	letter-spacing: 1px;
}

.my-heading {
	font-size: 40px;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.my-heading span {
	color: #28617f;
}

.sub-heading {
	margin: 0;
	font-size: 0.8rem;
	color: #ccc;
	font-weight: lighter;
}

.links:hover {
	border-bottom: 2px solid #fff;
}

.links {
	border-bottom: 2px solid transparent;
	transition: all 0.25s;
	padding: 5px;
	text-decoration: none;
	color: #fff;
}

.btn {
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	border: none;
}

.common-btn {
	background-color: #28617f;
	color: #fff;
	border: 2px solid #28617f;
	transition: all 0.25s;
	text-decoration: none;
}


.common-btn:hover {
	background-color: #fff;
	color: #28617f;
	border: 2px solid #28617f;
	outline: none;
}



.ghost-btn {
	background-color: #fff;
	color: #28617f;
	border: 2px solid #28617f;
	outline: none;
	text-decoration: none;
}

.ghost-btn:hover {
	background-color: #28617f;
	color: #fff;
	transition: all 0.25s;
}

.heading-span {
	font-weight: bolder;
}

.text-center {
	text-align: center;
}

.small-para {
	font-size: 14px;
	color: #fff;
}

.white-text {
	color: #fff;
}

.blue-text {
	color: #fff;
}